img{
    height: 300px;
    width: 300px;
    border-radius: 1000px;
}

h2{
    color: #006b5d;
    text-decoration: dotted;
}
ul {
    justify-content: center;
    width: fit-content; 
    margin: 0 auto
}
.contact-list li {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    background-color: #f4f4f4;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    border-color: #008a6f;
    border-width: 2px;
    border-style: dotted;
 
    
}

.contact-list li:hover {
    background-color: #e0e0e0;
}

.contact-list i {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

a{
    padding: 10px;
    text-decoration: none;
    color:#006b5d;
    font-weight: bold;
}
.icon{
    height: 30px;
    width: 40px;
}
div{
    border-radius: 80px;
    border-width: 2px;
    border-color: #008a6f;
    border-style: dotted; 
    box-shadow: 10px 10px 10px rgba(59, 138, 109, 0.5);;
    height: 100vh;
    width: 50vw;
    background-image:Radial-gradient(#3a7d6645,white) ;
    display: block;
    justify-content: center;
    text-align: center;
}
body{
    display: flex;
    justify-content:center;
    align-items: center; 
    text-align: center;
    width: 100vw;

}




button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
